/* background colors */
* {
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

html {
  font-size: 18px;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background: #e7e7e7; }

p {
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 2.66rem;
  line-height: 3.99rem;
  margin-bottom: 0.75rem; }

h2 {
  font-size: 2.15rem;
  line-height: 3.225rem;
  margin-bottom: 0.75rem; }

h3 {
  font-size: 1.66rem;
  line-height: 2.49rem;
  margin-bottom: 0.75rem; }

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.75rem; }

h5,
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 480px) {
  p {
    font-size: 1.1rem;
    line-height: 1.65rem; } }
a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: #45E4FF;
  cursor: pointer; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    .wrapper {
      width: 94%;
      max-width: 480px; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 94%;
      max-width: 480px; } }

.main {
  min-height: 100%;
  margin-bottom: -142px; }

.main:after {
  content: "";
  display: block; }

/* header */
.header {
  background: rgba(247, 247, 247, 0.7);
  width: 100%;
  float: left;
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0; }
  @media all and (max-width: 480px) {
    .header {
      position: relative; } }

.title {
  float: left; }

/* nav */
.navbar {
  float: right; }
  @media all and (max-width: 480px) {
    .navbar {
      display: none; } }
  @media all and (max-width: 768px) {
    .navbar {
      display: none; } }

.navbar li {
  float: left;
  list-style: none;
  padding: 15px 10px 0 10px; }

.c-hamburger, .c-hamburger span {
  display: none; }

@media all and (max-width: 480px) {
  .c-hamburger {
    display: none;
    float: right;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s; }

  .c-hamburger:focus {
    outline: none; }

  .c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white; }

  .c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
    content: ""; }

  .c-hamburger span::before {
    top: -20px; }

  .c-hamburger span::after {
    bottom: -20px; } }
/* index */
.toast {
  background: url("../img/desk.cfa6.jpg") no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 103px; }
  @media all and (max-width: 480px) {
    .toast {
      background: url("../img/desk.cfa6.jpg") no-repeat;
      background-size: cover;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100vh;
      margin-top: 143px; } }

.welcome {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px; }

.welcome p {
  font-size: 22px;
  color: #f3f4f5;
  line-height: 110%; }

.welcome a {
  color: #f3f4f5; }

.welcome a:hover {
  color: #999; }

/* content */
.content {
  padding-top: 90px; }
  @media all and (max-width: 480px) {
    .content {
      padding-top: 40px; } }

.image_container {
  text-align: center; }

.image_container img {
  width: 200px; }

.round {
  border-radius: 50%; }

/* about */
.welcome, .about, .blog, .contact {
  min-height: 90vh;
  padding-top: 100px; }
  .welcome h1, .about h1, .blog h1, .contact h1 {
    border-bottom: 1px solid #333;
    margin: 0 auto 20px auto;
    text-align: center; }
  .welcome h2, .about h2, .blog h2, .contact h2 {
    font-size: 28px; }
  .welcome p, .about p, .blog p, .contact p {
    text-align: left;
    padding: 2.5%; }

/* footer */
.footer, .push {
  height: 142px; }

.footer {
  margin-top: 90px;
  padding-top: 40px;
  background: #333; }

.footer p {
  color: #f3f4f5;
  text-align: center; }
